$transition-duration: 0.3s;

$width-modal: 600px;

// Цвета
$color-black: black;
$color-black-alpha-46: #00000075;
$color-gray-900: #1a1a1a;
$color-gray-800: #333333;
$color-gray-100: #e9ecef;
$color-gray-200: #e0e0e0;
$color-white: white;

$primary-blue: #00173b; //dark-blue

$primary-blue-light: #00173b17;
$light-blue: rgb(113 180 239 / 34%);
$light-blue-hover: rgb(173 199 225 / 31%);
$accent-blue: rgb(96 175 243 / 58%);
$shadow-blue: rgb(140, 175, 205);

$red-light: #ff66664f;
$pink-light: rgb(247 200 210);
$shadow-pink: rgb(219, 177, 181);
$accent-pink: rgb(205 130 137 / 58%);

$white-transparent: rgba(255, 255, 255, 0.1);
$blue-gray: rgb(140 175 205);
$blue-transparent: rgb(96 175 243 / 50%);
$black-transparent: rgb(28 1 1 / 10%);
$gray-blue-transparent: rgb(110 131 147 / 40%);
